h1,h2,h3,h4,h5,h6,p,blockquote,dl,img,figure {
    margin: 2rem 0;
}

p { margin: 2rem 0; }


body{
    margin:0 auto;
    max-width:50rem;
}

blockquote {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border: #000000;
}

th, td {
  padding: 20px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}